*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.idea/vcs.xml
wood-no-op/libs/
wood-no-op/src/main/res/drawable/
wood/libs/
sample/libs/
sample/release/
sample/src/main/res/drawable-v24/
sample/src/main/res/drawable/
