name: CI
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.4.0
      - name: set up Java 11
        uses: actions/setup-java@v2.3.1
        with:
          distribution: 'adopt-openj9'
          java-version: 11
      - name: Build with Gradle
        run: ./gradlew :app:assembleDebug
